@model PagedList<BlogMVC.Models.MakaleModel>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-8">
            <!--MAKALE LİSTESİ-->
            @foreach (var item in Model)
            {
                <div class="card-group">
                    <div class="card">
                        <img src="/Content/images/@item.Resim" class="card-img-top" alt="..." height="400">
                        <div class="card-body border-top">
                            <h5 class="card-title">@item.Baslik</h5>
                            <p class="card-text">@item.Aciklama</p>
                            <a href="/Home/Detay/@item.Id" class="btn btn-primary">Devamını oku</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><i class="bi bi-clock"></i> @item.YayinTarihi.ToString("dd-MM-yyyy") - <i class="bi bi-eye"></i> @item.Goruntulenme Görüntülenme  - <i class="bi bi-chat"></i> @item.Yorum.Count Yorum</small>
                        </div>
                    </div>
                </div>
                <br />
            }
        <div class="d-flex justify-content-center">
            @Html.PagedListPager(Model, sayi => Url.Action("Index", new { sayi }))
        </div>
            

            <br />
        </div>
        <div class="col-md-4">
            <!--Kategori Listesi-->
            @Html.Action("KategoriListesi", "Kategori")
            <br />
            @Html.Action("EnCokOkunan", "Home")
        </div>
    </div>
</div>
